<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]" detail>
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>{{ offer.title }}</h1>

    <div class="offers-detail">
      <span class="space-right">from</span>
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text class="space-left">{{ offer.availableFrom | date }}</ion-text>
    </div>
    <div class="offers-detail">
        <span class="space-right">to</span>
      <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
      <ion-text class="space-left">{{ offer.availableTo | date }}</ion-text>
    </div>
  </ion-label>
</ion-item>
